@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
  --ff-primary: 'Epilogue', sans-serif;

  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-36: 2.25rem;
  --fs-80: 5rem;

  --fw-normal: 500;
  --fw-bold: 700;

  --clr-neutral-100: hsl(0, 0%, 98%);
  --clr-neutral-300: hsl(0, 0%, 71%);
  --clr-neutral-400: hsl(0, 0%, 41%);
  --clr-neutral-700: hsl(0, 0%, 8%);
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Body Styles */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--ff-primary);
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-400);
  overflow-x: hidden;
}

/* Wrapper Styles */

.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 90rem;
  min-height: 56.25rem;
  transition: all 0.3s ease-in-out;
}

/* Header Styles */

.main__header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0 2.5rem;
}

.header__nav {
  display: flex;
  position: relative;
  width: 100%;
}

.header__logo--img {
  margin-top: 2rem;
}

.header__nav--menu {
  display: flex;
  margin-top: 2.2rem;
  margin-left: 4rem;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.mobile__menu--icon {
  display: none;
  z-index: 10;
}

.header__nav--menu-item {
  margin-right: 0.5rem;
  margin-bottom: var(--fs-16);
  letter-spacing: -0.005rem;
}

.arrow--icon {
  margin-left: 0.5rem;
  margin-bottom: 0.05rem;
  transition: all 0.3s ease-in-out;
}

.header__nav--menu-item a:hover {
  color: var(--clr-neutral-700);
}

.header__nav--menu-features,
.header__nav--menu-company {
  display: none;
  position: absolute;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin-top: 1.2rem;
  border-radius: 10px;
  background-color: var(--clr-neutral-100);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.show-menu {
  display: block;
  opacity: 1;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rotate {
  transform: rotate(180deg);
}

.header__nav--menu-item:first-child {
  position: relative;
}

.header__nav--menu-item a {
  transition: all 0.2s ease-in-out;
}

.header__nav--menu-features {
  width: max-content;
  right: 0;
}

.header__nav--menu-features-item,
.header__nav--menu-company-item {
  margin-bottom: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.header__nav--menu-company-item {
  height: 1.25rem;
  margin-top: 0.3rem;
}

.header__nav--menu-features-item:hover {
  color: var(--clr-neutral-700);
}

.header__nav--menu-features-item:hover .features__menu--icon {
  transform: scale(1.35);
}

.header__nav--menu-features-item:nth-child(even) a {
  position: relative;
  right: 2px;
}

.header__nav--menu-features-item:nth-child(odd) .features__menu--icon {
  position: relative;
  right: 1px;
}
.header__nav--menu-features-item:nth-child(3) .features__menu--icon {
  margin-right: 1rem;
}

.features__menu--icon {
  position: relative;
  top: 0.1rem;
  margin-right: 1rem;
  transition: all 0.15s ease-in-out;
}
